@use './_base.scss';

:root {
  --mana-palette-primary0: #000000;
  --mana-palette-primary4: #001209;
  --mana-palette-primary5: #00150b;
  --mana-palette-primary6: #00180d;
  --mana-palette-primary10: #002113;
  --mana-palette-primary12: #002517;
  --mana-palette-primary17: #00311f;
  --mana-palette-primary20: #003824;
  --mana-palette-primary22: #003d28;
  --mana-palette-primary24: #00422b;
  --mana-palette-primary25: #00452d;
  --mana-palette-primary30: #005236;
  --mana-palette-primary35: #005f40;
  --mana-palette-primary40: #006c49;
  --mana-palette-primary50: #00885d;
  --mana-palette-primary60: #32a375;
  --mana-palette-primary70: #52be8e;
  --mana-palette-primary80: #6fdba8;
  --mana-palette-primary87: #83efbb;
  --mana-palette-primary90: #8cf7c3;
  --mana-palette-primary92: #91fdc9;
  --mana-palette-primary94: #aeffd4;
  --mana-palette-primary95: #beffdb;
  --mana-palette-primary96: #cdffe2;
  --mana-palette-primary98: #e8ffef;
  --mana-palette-primary99: #f4fff6;
  --mana-palette-primary100: #ffffff;

  --mana-palette-secondary0: #000000;
  --mana-palette-secondary4: #001209;
  --mana-palette-secondary5: #00150b;
  --mana-palette-secondary6: #00180d;
  --mana-palette-secondary10: #002114;
  --mana-palette-secondary12: #002517;
  --mana-palette-secondary17: #00311f;
  --mana-palette-secondary20: #003824;
  --mana-palette-secondary22: #003d28;
  --mana-palette-secondary24: #00422b;
  --mana-palette-secondary25: #00452d;
  --mana-palette-secondary30: #005236;
  --mana-palette-secondary35: #005f40;
  --mana-palette-secondary40: #006c49;
  --mana-palette-secondary50: #00885d;
  --mana-palette-secondary60: #31a375;
  --mana-palette-secondary70: #51be8f;
  --mana-palette-secondary80: #6fdba9;
  --mana-palette-secondary87: #83efbc;
  --mana-palette-secondary90: #8bf7c4;
  --mana-palette-secondary92: #91fdc9;
  --mana-palette-secondary94: #aeffd5;
  --mana-palette-secondary95: #beffdb;
  --mana-palette-secondary96: #cdffe2;
  --mana-palette-secondary98: #e8ffef;
  --mana-palette-secondary99: #f4fff6;
  --mana-palette-secondary100: #ffffff;

  --mana-palette-tertiary0: #000000;
  --mana-palette-tertiary4: #001017;
  --mana-palette-tertiary5: #00131b;
  --mana-palette-tertiary6: #00161e;
  --mana-palette-tertiary10: #001f29;
  --mana-palette-tertiary12: #00232e;
  --mana-palette-tertiary17: #002e3b;
  --mana-palette-tertiary20: #063543;
  --mana-palette-tertiary22: #0d3947;
  --mana-palette-tertiary24: #133e4c;
  --mana-palette-tertiary25: #16404e;
  --mana-palette-tertiary30: #244c5a;
  --mana-palette-tertiary35: #305866;
  --mana-palette-tertiary40: #3d6473;
  --mana-palette-tertiary50: #567d8c;
  --mana-palette-tertiary60: #6f96a7;
  --mana-palette-tertiary70: #8ab1c2;
  --mana-palette-tertiary80: #a5cdde;
  --mana-palette-tertiary87: #b8e0f2;
  --mana-palette-tertiary90: #c0e9fa;
  --mana-palette-tertiary92: #c8eeff;
  --mana-palette-tertiary94: #d7f2ff;
  --mana-palette-tertiary95: #def4ff;
  --mana-palette-tertiary96: #e5f6ff;
  --mana-palette-tertiary98: #f3fbff;
  --mana-palette-tertiary99: #fafdff;
  --mana-palette-tertiary100: #ffffff;

  --mana-palette-neutral0: #000000;
  --mana-palette-neutral4: #0c0f0d;
  --mana-palette-neutral5: #0e1210;
  --mana-palette-neutral6: #111412;
  --mana-palette-neutral10: #191c1a;
  --mana-palette-neutral12: #1d201e;
  --mana-palette-neutral17: #272b28;
  --mana-palette-neutral20: #2e312f;
  --mana-palette-neutral22: #323633;
  --mana-palette-neutral24: #373a37;
  --mana-palette-neutral25: #393c39;
  --mana-palette-neutral30: #444845;
  --mana-palette-neutral35: #505350;
  --mana-palette-neutral40: #5c5f5c;
  --mana-palette-neutral50: #757874;
  --mana-palette-neutral60: #8f918e;
  --mana-palette-neutral70: #a9aca8;
  --mana-palette-neutral80: #c5c7c3;
  --mana-palette-neutral87: #d8dbd7;
  --mana-palette-neutral90: #e1e3df;
  --mana-palette-neutral92: #e7e9e5;
  --mana-palette-neutral94: #eceeea;
  --mana-palette-neutral95: #eff1ed;
  --mana-palette-neutral96: #f2f4f0;
  --mana-palette-neutral98: #f8faf6;
  --mana-palette-neutral99: #fbfdf9;
  --mana-palette-neutral100: #ffffff;

  --mana-palette-neutral-variant0: #000000;
  --mana-palette-neutral-variant4: #08100c;
  --mana-palette-neutral-variant5: #0b130e;
  --mana-palette-neutral-variant6: #0d1511;
  --mana-palette-neutral-variant10: #151d19;
  --mana-palette-neutral-variant12: #19211d;
  --mana-palette-neutral-variant17: #232c27;
  --mana-palette-neutral-variant20: #2a322d;
  --mana-palette-neutral-variant22: #2e3731;
  --mana-palette-neutral-variant24: #333b36;
  --mana-palette-neutral-variant25: #353d38;
  --mana-palette-neutral-variant30: #404943;
  --mana-palette-neutral-variant35: #4c554f;
  --mana-palette-neutral-variant40: #58605a;
  --mana-palette-neutral-variant50: #707973;
  --mana-palette-neutral-variant60: #8a938c;
  --mana-palette-neutral-variant70: #a4ada6;
  --mana-palette-neutral-variant80: #c0c9c1;
  --mana-palette-neutral-variant87: #d3dcd4;
  --mana-palette-neutral-variant90: #dce5dd;
  --mana-palette-neutral-variant92: #e1ebe2;
  --mana-palette-neutral-variant94: #e7f0e8;
  --mana-palette-neutral-variant95: #eaf3eb;
  --mana-palette-neutral-variant96: #edf6ee;
  --mana-palette-neutral-variant98: #f3fcf3;
  --mana-palette-neutral-variant99: #f5fff6;
  --mana-palette-neutral-variant100: #ffffff;

  --mana-palette-error0: #000000;
  --mana-palette-error4: #280001;
  --mana-palette-error5: #2d0001;
  --mana-palette-error6: #310001;
  --mana-palette-error10: #410002;
  --mana-palette-error12: #490002;
  --mana-palette-error17: #5c0004;
  --mana-palette-error20: #690005;
  --mana-palette-error22: #710005;
  --mana-palette-error24: #790006;
  --mana-palette-error25: #7e0007;
  --mana-palette-error30: #93000a;
  --mana-palette-error35: #a80710;
  --mana-palette-error40: #ba1a1a;
  --mana-palette-error50: #de3730;
  --mana-palette-error60: #ff5449;
  --mana-palette-error70: #ff897d;
  --mana-palette-error80: #ffb4ab;
  --mana-palette-error87: #ffcfc9;
  --mana-palette-error90: #ffdad6;
  --mana-palette-error92: #ffe2de;
  --mana-palette-error94: #ffe9e6;
  --mana-palette-error95: #ffedea;
  --mana-palette-error96: #fff0ee;
  --mana-palette-error98: #fff8f7;
  --mana-palette-error99: #fffbff;
  --mana-palette-error100: #ffffff;

  --mana-color-primary: #006c49;
  --mana-color-on-primary: #ffffff;
  --mana-color-primary-container: #8cf7c3;
  --mana-color-on-primary-container: #002113;
  --mana-color-primary-fixed: #8cf7c3;
  --mana-color-on-primary-fixed: #002113;
  --mana-color-primary-fixed-dim: #6fdba8;
  --mana-color-on-primary-fixed-variant: #005236;
  --mana-color-secondary: #006c49;
  --mana-color-on-secondary: #ffffff;
  --mana-color-secondary-container: #8bf7c4;
  --mana-color-on-secondary-container: #002114;
  --mana-color-secondary-fixed: #8bf7c4;
  --mana-color-on-secondary-fixed: #002114;
  --mana-color-secondary-fixed-dim: #6fdba9;
  --mana-color-on-secondary-fixed-variant: #005236;
  --mana-color-tertiary: #3d6473;
  --mana-color-on-tertiary: #ffffff;
  --mana-color-tertiary-container: #c0e9fa;
  --mana-color-on-tertiary-container: #001f29;
  --mana-color-tertiary-fixed: #c0e9fa;
  --mana-color-on-tertiary-fixed: #001f29;
  --mana-color-tertiary-fixed-dim: #a5cdde;
  --mana-color-on-tertiary-fixed-variant: #244c5a;
  --mana-color-error: #ba1a1a;
  --mana-color-error-container: #ffdad6;
  --mana-color-on-error: #ffffff;
  --mana-color-on-error-container: #410002;
  --mana-color-background: #fbfdf9;
  --mana-color-on-background: #191c1a;
  --mana-color-outline: #707973;
  --mana-color-inverse-on-surface: #eff1ed;
  --mana-color-inverse-surface: #2e312f;
  --mana-color-inverse-primary: #6fdba8;
  --mana-color-shadow: #000000;
  --mana-color-surface-tint: #006c49;
  --mana-color-outline-variant: #c0c9c1;
  --mana-color-scrim: #000000;
  --mana-color-surface: #f8faf6;
  --mana-color-on-surface: #191c1a;
  --mana-color-surface-variant: #dce5dd;
  --mana-color-on-surface-variant: #404943;
  --mana-color-surface-container-highest: #e1e3df;
  --mana-color-surface-container-high: #e7e9e5;
  --mana-color-surface-container: #eceeea;
  --mana-color-surface-container-low: #f2f4f0;
  --mana-color-surface-container-lowest: #ffffff;
  --mana-color-surface-dim: #d8dbd7;
  --mana-color-surface-bright: #f8faf6;
}