@use './_base.scss';

:root {
  --mana-color-primary: #006c49;
  --mana-color-on-primary: #ffffff;
  --mana-color-primary-container: #74fbbe;
  --mana-color-on-primary-container: #002113;
  --mana-color-secondary: #4d6357;
  --mana-color-on-secondary: #ffffff;
  --mana-color-secondary-container: #d0e8d8;
  --mana-color-on-secondary-container: #0a1f16;
  --mana-color-tertiary: #3d6473;
  --mana-color-on-tertiary: #ffffff;
  --mana-color-tertiary-container: #c0e9fa;
  --mana-color-on-tertiary-container: #001f29;
  --mana-color-error: #ba1a1a;
  --mana-color-error-container: #ffdad6;
  --mana-color-on-error: #ffffff;
  --mana-color-on-error-container: #410002;
  --mana-color-background: #fbfdf9;
  --mana-color-on-background: #191c1a;
  --mana-color-surface: #fbfdf9;
  --mana-color-on-surface: #191c1a;
  --mana-color-surface-variant: #dce5dd;
  --mana-color-on-surface-variant: #404943;
  --mana-color-outline: #707973;
  --mana-color-inverse-on-surface: #eff1ed;
  --mana-color-inverse-surface: #2e312f;
  --mana-color-inverse-primary: #55dea3;
  --mana-color-shadow: #000000;
  --mana-color-surface-tint: #006c49;
  --mana-color-outline-variant: #c0c9c1;
}