@use './_base.scss';

:root {
  --mana-color-primary: #55dea3;
  --mana-color-on-primary: #003824;
  --mana-color-primary-container: #005236;
  --mana-color-on-primary-container: #74fbbe;
  --mana-color-secondary: #b4ccbd;
  --mana-color-on-secondary: #20352a;
  --mana-color-secondary-container: #364b3f;
  --mana-color-on-secondary-container: #d0e8d8;
  --mana-color-tertiary: #a5cdde;
  --mana-color-on-tertiary: #063543;
  --mana-color-tertiary-container: #244c5a;
  --mana-color-on-tertiary-container: #c0e9fa;
  --mana-color-error: #ffb4ab;
  --mana-color-error-container: #93000a;
  --mana-color-on-error: #690005;
  --mana-color-on-error-container: #ffdad6;
  --mana-color-background: #191c1a;
  --mana-color-on-background: #e1e3df;
  --mana-color-surface: #191c1a;
  --mana-color-on-surface: #e1e3df;
  --mana-color-surface-variant: #404943;
  --mana-color-on-surface-variant: #c0c9c1;
  --mana-color-outline: #8a938c;
  --mana-color-inverse-on-surface: #191c1a;
  --mana-color-inverse-surface: #e1e3df;
  --mana-color-inverse-primary: #006c49;
  --mana-color-shadow: #000000;
  --mana-color-surface-tint: #55dea3;
  --mana-color-outline-variant: #404943;
}
