:root {
  --mana-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

  --mana-border-radius: 3px;
}

body {
  background-color: var(--mana-color-background);
  color: var(--mana-color-on-background);
  font-size: var(--mana-tp-body-medium-font-size);
  line-height: var(--mana-tp-body-medium-line-height);
  font-family: var(--mana-font-family);
  letter-spacing: var(--mana-tp-body-medium-letter-spacing);
}
