:root {
  --m-tp-display-large-font-weight: 400px;
  --m-tp-display-large-font-size: 57px;
  --m-tp-display-large-line-height: 64px;
  --m-tp-display-large-letter-spacing: -0.25px;

  --m-tp-display-medium-font-weight: 400px;
  --m-tp-display-medium-font-size: 45px;
  --m-tp-display-medium-line-height: 52px;
  --m-tp-display-medium-letter-spacing: 0px;

  --m-tp-display-small-font-weight: 400px;
  --m-tp-display-small-font-size: 36px;
  --m-tp-display-small-line-height: 44px;
  --m-tp-display-small-letter-spacing: 0px;

  --m-tp-headline-large-font-weight: 400px;
  --m-tp-headline-large-font-size: 32px;
  --m-tp-headline-large-line-height: 40px;
  --m-tp-headline-large-letter-spacing: 0px;

  --m-tp-headline-medium-font-weight: 400px;
  --m-tp-headline-medium-font-size: 28px;
  --m-tp-headline-medium-line-height: 36px;
  --m-tp-headline-medium-letter-spacing: 0px;

  --m-tp-headline-small-font-weight: 400px;
  --m-tp-headline-small-font-size: 24px;
  --m-tp-headline-small-line-height: 32px;
  --m-tp-headline-small-letter-spacing: 0px;

  --m-tp-body-large-font-weight: 400px;
  --m-tp-body-large-font-size: 16px;
  --m-tp-body-large-line-height: 24px;
  --m-tp-body-large-letter-spacing: 0.5px;

  --m-tp-body-medium-font-weight: 400px;
  --m-tp-body-medium-font-size: 14px;
  --m-tp-body-medium-line-height: 20px;
  --m-tp-body-medium-letter-spacing: 0.25px;

  --m-tp-body-small-font-weight: 400px;
  --m-tp-body-small-font-size: 12px;
  --m-tp-body-small-line-height: 16px;
  --m-tp-body-small-letter-spacing: 0.4px;

  --m-tp-label-large-font-weight: 500px;
  --m-tp-label-large-font-size: 14px;
  --m-tp-label-large-line-height: 20px;
  --m-tp-label-large-letter-spacing: 0.1px;

  --m-tp-label-medium-font-weight: 500px;
  --m-tp-label-medium-font-size: 12px;
  --m-tp-label-medium-line-height: 16px;
  --m-tp-label-medium-letter-spacing: 0.5px;

  --m-tp-label-small-font-weight: 500px;
  --m-tp-label-small-font-size: 11px;
  --m-tp-label-small-line-height: 16px;
  --m-tp-label-small-letter-spacing: 0.5px;

  --m-tp-title-large-font-weight: 400px;
  --m-tp-title-large-font-size: 22px;
  --m-tp-title-large-line-height: 28px;
  --m-tp-title-large-letter-spacing: 0px;

  --m-tp-title-medium-font-weight: 500px;
  --m-tp-title-medium-font-size: 16px;
  --m-tp-title-medium-line-height: 24px;
  --m-tp-title-medium-letter-spacing: 0.15px;

  --m-tp-title-small-font-weight: 500px;
  --m-tp-title-small-font-size: 14px;
  --m-tp-title-small-line-height: 20px;
  --m-tp-title-small-letter-spacing: 0.1px;
}
