:root {
  --m-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --m-border-radius: 3px;
  --m-font-size: 14px;
  --m-line-height: 20px;
}

html {
  font-size: var(--m-font-size);
}

body {
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  background-color: var(--m-color-background);
  color: var(--m-color-on-background);
  line-height: var(--m-line-height);
  font-family: var(--m-font-family);
  direction: ltr;
}
