:root {
  --m-border-radius: 3px;
  --m-font-size: 16px;
  --m-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --m-scaffold-content-padding: 1rem;
}

*,
*::before,
*::after {
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  user-select: none;
}

html {
  font-size: var(--m-font-size);
}

body {
  background-color: var(--m-color-surface);
  color: var(--m-color-on-surface);
  line-height: 1.4;
  font-family: var(--m-font-family);
  direction: ltr;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: inherit;
}
