@mixin -flex($display: flex, $justify: null, $items: null) {
  display: $display;

  @if $justify {
    justify-content: $justify;
  }

  @if $items {
    align-items: $items;
  }
}

/* Justify content and align items. */
@mixin center($inline: false) {
  $display: if($inline, inline-flex, flex);
  @include -flex($display, $justify: center, $items: center);
}

@mixin x-center($inline: false) {
  $display: if($inline, inline-flex, flex);
  @include -flex($display, $justify: center);
}

@mixin x-end($inline: false) {
  $display: if($inline, inline-flex, flex);
  @include -flex($display, $justify: flex-end);
}

@mixin x-between-y-center($inline: false) {
  $display: if($inline, inline-flex, flex);
  @include -flex($display, $justify: space-between, $items: center);
}

@mixin y-center($inline: false) {
  $display: if($inline, inline-flex, flex);
  @include -flex($display, $items: center);
}
